body {
  background-color: white;
}

/* Navbar links styling */
.navbar-nav {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-size: 16px;
  text-transform: uppercase;
}

/* Navbar links hover effect */
.navbar-nav a:hover {
  text-decoration: none;
  color: #333333;
  transition: color 0.3s ease;
}

/*Display background color black on navbar scroll*/
.navbar-scroll.navbar-dark {
  background-color: black;
}

/* hero background image */
.bgimage {
  height: 100vh;
  background: url("../public/banner.jpeg");
  background-size: cover;
  position: relative;
}

/* text css above hero image */
.hero_title {
  font-size: 4.5rem;
}

.hero_desc {
  font-size: 2rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #bf3131;
}

/* about section image css */
.imageAboutPage {
  width: 25%;
}

/* Services Section */
#services {
  padding: 80px 0; /* Adjust the padding as needed */
}

/* Services Cards */
.card.servicesText {
  height: 400px; /* Adjust the height as needed */
}

.card-title {
  height: 280px;
  cursor: pointer;
}

.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  /* Add margin between the icon and title */
}

.card-title {
  text-align: center;
}

.card:hover .servicesIcon {
  color: #008000;
}

.servicesText:hover {
  border: 1px solid #008000;
}
